#BigPage {
	background-color: #8dbbe9;
	min-height: calc(100vh - 89px);
	background-image:url('../images/fonds/fond-01.jpg');
	background-size: cover;
}
	
.icone {
	width:30px;
	height:30px;
}
	
img {
	width:100%;
	max-width: 115px;
}
	
.H {
	display:none;
}

.col-3 {
	text-align:center;
}

#ModalOptions .cartes {
	width: 70px;
}

/*
#ModalOptions .fonds {
	width: 0px;
}
*/
	
footer {
	background-color: #f8f9fa;
}