	
	body {
	background-image:url('../images/wood.jpg');
	}
	
	.container {
	/* background-image:url('../images/fond04.jpg'); */
	}
	
	img {
	width:115px;
	}
	
	.H
	{
	display:none;
	}
	
	.col
	{
	/* border:1px solid black; */
	text-align:center;
	}
	