body 
	{
	background-image:url('../images/fonds/fond01.jpg');
	}

/*
.container 
	{
	}
*/
	
img 
	{
	width:100%;
	}
	
.H 
	{
	display:none; 
	}
	
.col
	{
	text-align:center;
	}

	
#ModalOptions .cartes
	{
	width: 70px;	
	}
	
#ModalOptions .fonds
	{
	width: 140px;	
	}
